<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment</title>
</head>
<body>
    <div>
<h1>What are malignant soft tissue tumors? </h1>
<p>
The term "malignant" indicates that there is moderate to high probability that the tumor will spread beyond the site where it initially develops. These cells can spread by travel through the blood stream or by travel through lymph vessels. The most common sites where malignant bone tumors spread are the liver and the lungs. Other bones can also become sites of metastasis.

Malignant soft tissue tumors are classified as "sarcomas." These tumors are thought to arise from "connective tissues" other than bone, such as muscle, tendon, ligament, fat, and cartilage. They are rare. Only about 8,000 tumors of this type occur each year in the United States, representing only about 1% of all malignant tumors. They are technically different from the much more common cancers or "carcinomas," which are malignant tumors that arise from organs or gland tissue (e.g. breast, prostate, colon, liver, kidney, lung, thyroid gland, etc). However, all are serious tumors that must be treated with great caution.

Fortunately, in over 90% of patients in whom a malignant tumor is discovered there is no visible evidence that the tumor has spread. However, this does not guarantee that there are not already small areas of spread. This is important because, if the tumor has already spread, the individual cannot be cured by simply removing the visible tumor at the primary site. Pathologists are now able to examine many tumors under the microscope and divide tumors into high-grade tumors, which have a 70-90% chance of having spread, and low-grade tumors, where the chance of spread is low (less than 15%). This allows additional therapy to be specifically targeted to the most dangerous tumors, and allows many of the low-grade tumors to be successfully treated by surgery alone.

Malignant soft tissue tumors can occur at almost any age, but are most common in individuals between 50 and 70 years of age. Malignant fibrous histiocytoma (MFH), liposarcoma, and synovial sarcoma, neurosarcoma, rhabdosarcoma, fibrosarcoma, hemangiopericytoma, and angiosarcoma are among the most common of these tumors, but many other types exist.
</p>

<h1>SYMPTOMS AND CAUSES</h1>
<h2>
What are the symptoms of soft tissue malignant tumors?</h2>
<p>
In its early stages, soft tissue malignant tumors rarely cause any symptoms. Because soft tissue is very elastic, the tumors can grow quite large before they are felt. The first symptom is usually a painless lump. As the tumor grows and begins to press against nearby nerves and muscles, pain or soreness can occur.Any growing tumor should be recognized and evaluated promptly.
</p>
<h1>

MANAGEMENT AND TREATMENT
</h1>
<p>

<h1>What are my treatment options for soft tissue malignant tumors? </h1>
<p>Optimal treatment often demands the combined skills of an exceptional surgeon, pathologist, radiologist, radiotherapist, medical oncologist, and sometimes a plastic surgeon.


In the past 15 years, important improvements have been made in the treatment of malignant soft tissue tumors.
</p>
<h1>
Medical Treatments
</h1>
<p>
The addition of chemotherapy for the highest-grade tumors reduces the rate at which high-grade tumors return and may improve the rate of cure. The use of specialized radiation therapy techniques has significantly reduced the likelihood of tumors coming back at the site where they have been removed. Often, depending on the type of tumor, preoperative radiation therapy or chemotherapy (or a combination of the two) may be used to make some of these tumors more easily resected with adequate margins.
</p>
<h1>

Surgical Treatments
</h1>
<p>
Radiation therapy, in combination with improved techniques for surgical removal and improved methods for functional reconstruction, now allows 90-95% of patients with these aggressive tumors to be treated using "limb salvage" techniques (i.e. without amputation).
</p>

</p>
</div>
</body>
</html>