<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment</title>
</head>
<body>
    <h1>What are benign tumors?</h1>
    <p>

Benign tumors are noncancerous growths in the body. Unlike cancerous tumors, they don’t spread (metastasize) to other parts of the body.

Benign tumors can form anywhere. If you discover a lump or mass in your body that can be felt from the outside, you might immediately assume it is cancerous. For instance, women who find lumps in their breasts during self-examinations are often alarmed. However, most breast growths are benign. In fact, many growths throughout the body are benign.

Benign growths are extremely common, with 9 out of 10 womenTrusted Source showing benign breast tissue changes. Benign bone tumors, similarly, have a higher prevalence than malignant bone tumors.
</p>
<h2>
Causes of benign tumors
</h2>
<p>
The exact cause of a benign tumor is often unknown. It develops when cells in the body divide and grow at an excessive rate. Typically, the body is able to balance cell growth and division. When old or damaged cells die, they are automatically replaced with new, healthy cells. In the case of tumors, dead cells remain and form a growth known as a tumor.

Cancer cells grow in the same manner. However, unlike the cells in benign tumors, cancerous cells can invade nearby tissue and spread to other parts of the body.
</p>
<h2>

Types of benign tumors
</h2>
<p>
There are a fair number of benign tumors that can develop in different parts of the body.

Benign tumors are classified by where they grow. Lipomas, for example, grow from fat cells, while myomas grow from muscle. Different types of benign tumors are included below:

Adenomas form in the thin layer of tissue that covers glands, organs, and other internal structures. Examples include polyps that form in the colon or growths on the liver.
Lipomas grow from fat cells and are the most common type of benign tumor, according to the Cleveland Clinic. They are often found on the back, arms, or neck. They are usually soft and round, and can be moved slightly under the skin.
Myomas grow from muscle or in the walls of blood vessels. They can also grow in smooth muscle, like the kind found inside organs such as the uterus or stomach.
Nevi are also known as moles. These are noncancerous growths on the skin and they are very common.
Fibroids, or fibromas, can grow in the fibrous tissue found in any organ. They are most common in the uterus, where they are known as uterine fibroids.
In many cases, benign tumors will be monitored carefully. Noncancerous moles or colon polyps, for example, can turn into cancer at a later time. Some types of internal benign tumors may cause other problems. Uterine fibroids can cause pelvic pain and abnormal bleeding, and some internal tumors may restrict a blood vessel or cause pain by pressing on a nerve.

Anyone can develop a benign tumor, including children, though adults are more likely to develop them with increasing age.
</p>
<h1>
Symptoms of benign tumors
</h1>
<p>
Not all tumors, cancerous or benign, have symptoms.

Depending on the tumor’s location, numerous symptoms could affect the function of important organs or the senses. For example, if you have a benign brain tumor, you may experience headaches, vision trouble, and fuzzy memory.

If the tumor is close to the skin or in an area of soft tissue such as the abdomen, the mass may be felt by touch.

Depending on the location, possible symptoms of a benign tumor include:
</p>
<pre>
chills
discomfort or pain
fatigue
fever
loss of appetite
night sweats
weight loss
</pre>
<p>
Benign tumors may be large enough to detect, particularly if they’re close to the skin. However, most aren’t large enough to cause discomfort or pain. They can be removed if they are. Lipomas, for example, may be large enough to detect, but are generally soft, movable, and painless. Some skin discoloration may be evident in the case of benign tumors that appear on the skin, such as nevi. Anything that looks abnormal should be evaluated by a doctor.

Diagnosis of benign tumors
Doctors use a variety of techniques to diagnose benign tumors. The key in diagnosis is determining if a tumor is benign or malignant. Only laboratory tests can determine this with certainty.

Your doctor may begin by performing a physical examination and collecting your medical history. They’ll also ask you about the symptoms you’re experiencing.

If you don’t already have a primary care provider, you can browse doctors in your area through the Healthline FindCare tool.

Many internal benign tumors are found and located by imaging tests, including:
</p>
<pre>
CT scans
MRI scans
mammograms
ultrasounds
X-rays
</pre>
<p>
    Benign tumors often have a visual border of a protective sac that helps doctors diagnose them as benign. Your doctor may also order blood tests to check for the presence of cancer markers.

In other cases, doctors will take a biopsy of the tumor to determine whether it’s benign or malignant. The biopsy will be more or less invasive depending on the tumor’s location. Skin tumors are easy to remove and only require a local anesthetic, while colon polyps would require a colonoscopy, for example, and a stomach tumor may require an endoscopy.
</p>
<h1>
Treatment of benign tumors
</h1>
<p>
Not all benign tumors need treatment. If your tumor is small and isn’t causing any symptoms, your doctor may recommend taking a watch-and-wait approach. In these cases, treatment could be riskier than letting the tumor be. Some tumors will never need treatment.

If your doctor decides to pursue treatment, the specific treatment will depend on the location of the tumor. It may be removed for cosmetic reasons if, for example, it’s located on the face or neck. Other tumors that affect organs, nerves, or blood vessels are commonly removed with surgery to prevent further problems.

Tumor surgery is often done using endoscopic techniques, meaning the instruments are contained in tube-like devices. This technique requires smaller surgical incisions, if any at all, and less healing time.

Procedures like upper endoscopies and colonoscopies require almost no recovery time, though patients need someone to take them home and will likely sleep for the rest of the day. Skin tumor biopsies take a few weeks to fully heal and require basic recovery procedures like changing the bandage and keeping it covered. The more invasive the treatment, the more recovery time will be needed. Recovery from a benign brain tumor removal, for example, can take longer. Even once it’s removed, you may need speech therapy, occupational therapy, or physiotherapy to address problems the tumor left behind.

If surgery can’t safely access your tumor, your doctor may prescribe radiation therapy to help reduce its size or prevent it from growing larger.

While maintaining a healthy lifestyle, exercising, and eating a balanced diet can prevent health problems including some types of cancers, there aren’t natural or alternative remedies for benign tumors on their own.
</p>
</body>
</html>